<p>Welcome!</p>

<% if logged_in? %>
    <p>You are logged in as <%= current_user.email %></p>
    <p><%= link_to "Post to Facebook", post_to_fb_users_path %></p>
<% else %>
    <p><%= link_to "Login with Facebook", oauth_authorize_path %></p>
<% end %>